<!DOCTYPE html>
<html lang="fr">
<% title = "Erreur 404" %>
<% include header.ejs %>
<body>
<% include navigation.ejs %>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">404
                    <small>Page non trouvé</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Acceuil</a>
                    </li>
                    <li class="active">404</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1><span class="error-404">404</span>
                    </h1>
                    <p>La page que vous cherchiez est introuvable. Voici quelques liens utiles pour retrouver votre chemin:</p>
                    <ul>
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="/about">A propos</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            Recette
                            <ul>
                                <li>
                                    <a href="/recette/search">search : recherche de recettes</a>
                                </li>
                                <li>
                                    <a href="/recette/0">0 : recette 0</a>
                                </li>
                                <li>
                                    <a href="/recette/1">1 : recette 1</a>
                                </li>
                                <li>
                                    ...
                                </li>
                            </ul>
                        </li>
                        <li>
                            Ingredients
                            <ul>
                                <li>
                                    <a href="/ingredient/classement">classement</a>
                                </li>
                                <li>
                                    <a href="/ingredient/0">0 : ingrédient 0</a>
                                </li>
                                <li>
                                    <a href="/ingredient/1">1 : ingrédient 1</a>
                                </li>
                                <li>
                                    ...
                                </li>
                            </ul>
                        </li>
                        <li>
                            Autres pages
                            <ul>
                                <li>
                                    <a href="/404">Erreur 404</a>
                                </li>
                                <li>
                                    <a href="/troll">Techniques de programmation</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <hr>

    </div>
    <!-- /.container -->

<% include footer.ejs%>

</body>
</html>
