<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; Recetator 3000 - 2016</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Custom js -->
<script src="/js/recette.js"></script>

<!-- Bootstrap notify -->
<script src="/js/bootstrap-notify.min.js"> </script>

<!-- Input counter -->
<script src="/js/counter-input.js"></script>

<!-- Time picker -->
<script src="/js/bootstrap-timepicker.min.js"></script>