<!DOCTYPE html>
<html lang="fr">
<% title = "Erreur 404" %>
<% include header.ejs %>
<body>
<% include navigation.ejs %>

    <!-- Page Content -->
    <div class="container">

    </div>
    <!-- /.container -->

<% include footer.ejs%>

<script

</body>
</html>
