<!DOCTYPE html>
<html lang="fr">
<% title = "Troll" %>
<% include header.ejs %>
<body>
<% include navigation.ejs %>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Troll
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Acceuil</a>
                    </li>
                    <li class="active">troll</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-12">
                <div class="jumbotron">
                    <img class="img-responsive img-thumbnail img-center" src="/images/troll.jpg" alt="">
                </div>
            </div>

        </div>


    </div>
    <!-- /.container -->

<% include footer.ejs%>

</body>
</html>
